In [ ]:
## if else elif

age = 15

if age > 4 and age < 9:
    print("this is eligible ")
elif age > 14 and age < 20:
    print("you are eligble")
else :
    print("not eligble")

In [ ]:
num = int(input())

if num>=0:
    print("this is Positive num ")
    if num%2==0:
        print("this not even")
    else:
        print("the num is negative")
else :
    print("negative")

In [31]:
# Uscases 

year = int(input())

if year>=0:
    print("not this leap year")
    if year%4==0:
        print("this is leap year")
    else:
        print("this is not leap year")
else:
    print("Enter the correct year")

not this leap year
this is not leap year

In [39]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [41]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [44]:
str = "shubham"
for i in str:
    print(i)

s
h
u
b
h
a
m

In [51]:
count = 0
while count< 5:
    count = count + 2
    print(count)

2
4
6

In [55]:
for i in range(10):
    
    if i == 6:
        break
    print(i)

0
1
2
3
4
5