In [4]:
import pandas as pd

In [7]:
data = [1,2,34,]
series = pd.Series(data)
print(series)

0     1
1     2
2    34
dtype: int64

In [11]:
data_dict = {
    "a":1,
    'b':2,
    "c":3
}

series_dict = pd.Series(data_dict)

print(series_dict)

a    1
b    2
c    3
dtype: int64

In [12]:
data = [10,29,34]

index=['a','b','c']

pd.Series(data,index=index)

a    10
b    29
c    34
dtype: int64

In [21]:
## data frame 

## create a data drame from a dictrony of list 

data={
    'Name':['sk', 'cp', 'rp'],
    'age':[25,30,45],
    'city':['pune', 'jalgoan', 'nashik']
}


df=pd.DataFrame(data)
print(df)

print(type(df))

  Name  age     city
0   sk   25     pune
1   cp   30  jalgoan
2   rp   45   nashik
<class 'pandas.core.frame.DataFrame'>

In [22]:
df

  Name  age     city
0   sk   25     pune
1   cp   30  jalgoan
2   rp   45   nashik

0    sk
1    cp
2    rp
Name: Name, dtype: object

In [25]:
df["Name"]

0    sk
1    cp
2    rp
Name: Name, dtype: object

In [26]:
df["Name"]

0    sk
1    cp
2    rp
Name: Name, dtype: object